// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2e75b6;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #424242;
$light-gray: #F4F4F4;
$light-blue: #bdd7ee;
$dark-gray: #404040;
$yellow-stars: #F5D327;
