// Specific CSS for your home-page
.image {
  background-image: linear-gradient(180deg, rgba(57, 93, 232, 0.9) 0%, rgba(86, 122, 226, 0.7) 50%), asset-url('board.jpg');
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}



.login-form {
  background: white;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    background-color: blue;
  }
  .search-bar {
    max-width: 100%;
    padding-left: 45px;
    // background-position: left 16px top calc(50% + 1px);
    // box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    height: 54px;
    border-radius:0px !important;
    border-top: none;
    border-left:none;
    border-right: none;
  }
  .search-container{
    display:flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 80px;
  }
}
.w-margin{
  margin-top: 300px;
}
.tabs{
    background:#728FD9;
    border-radius: 10px 10px 0 0;
    color: white;
    display:flex;
    align-items: center;
    margin-top: 40px;
    padding-left:-15px;
  }
.tabs h3{
  font-size: 17px;
}
.tabs p {
  opacity: 0.5;
}
.tabs-item {
background:#728FD9;
padding: 10px 10px 0px 10px;
flex: 0 0 16.6666667%;
text-align: center;
}

.tabs-item.active{
  background: #1871B9;
  color:white;
  font-weight:bold;
}
.tabs-item:hover{
  background: #1871B9;
  color:white;
  font-weight:bold;
}
#logo {
  color: white;
  text-shadow: 1px 1px 2px #1871B9;
  font-size: 90px;
}
