
.main-container {
  display: flex;
}

#orangefil {

    color: $orange;

}

#sidebar-filters {
  background-color: $blue;
  flex: 0 0 300px;
  padding-left: 15px;
  height: 150vh;
  position: sticky;
  top: 0;
  h2 {
    color: $light-blue;
  }
  a {
    color: white;
    font-size: 16px;

  }
  // position: sticky !important; /* !important to override Gmaps inline CSS */
  // top: 0 !important;
}

.niveau-scolaire-checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  margin-left: -8px;
}

.filters {
  width: 271px;
  h2 {
    font-size: 24px;
    margin: 0;
  }
}

.filter-title {
  border-top: 1px solid rgba(260,260,260,.3);
  border-bottom: 1px solid rgba(260,260,260,.2);
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.filter-title:hover {
  border-top: 1px solid rgba(260,260,260,.6);
  border-bottom: 1px solid rgba(260,260,260,.6);
}


.pastille {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E67E22;
  margin-top: 10px;
  margin-left: 11px;
}

.filter-and-pastille {
  display: flex;
}

.chevron {
  img {
    width: 20px;
    margin-right: 7px;
  }
}

.open-chevron {
  .chevron img {
    transform: rotate(180deg);
  }
}

.filter-space-list {
  margin-top: 10px;
}


.container-to-top {
  margin-top: -67px;
}



.btn-group-toggle2 {
  input {
    display: none;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 114px;
    font-weight: lighter;
    font-size: 16px;
    margin: 10px -5px 0 16px;
    height: 25px;
    /* border: 1px solid rgba(30, 30, 30, 0.3); */
    border-radius: 3px;
    color: white;
  }

  input:hover + label {
    cursor: pointer;
    text-decoration: underline;
  }

  input:checked + label {
    color: white;
    background-color: $orange;
    border: 0px solid rgba(30,30,30,0.3);
    box-shadow: 1px 1px 3px rgba(30,30,30,0.2);
  }
}

.submit-home-button2 {
  display: none;
}

.all-checkboxes {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.rounded-tft2 {
    /* border-radius: 50px; */
    height: 36px;
    font-size: 16px;
    margin-right: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}




