.card-image {
  display: none;
  background-image: asset-url('university.jpg');
  background-size: cover;
  height: 100px;
  position: relative;
  border-radius: 5px 5px 0 0;
  .card-image-button {
    position: absolute;
    text-align: center;
    a {
      color: #F4F4F4;
    }
    bottom: -24px;
    right: 19px;
    font-size: 20px;
    background: #424242;
    padding: 10px;
    border-radius: 300px;
    width:49px;
    opacity: 0.75;
  }
}

.compare-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.filters-titles-in-compare-page {
  opacity: .4;
}



// Filters ---------------------------------------------------
.sticky {
  position: sticky !important;
  top: 0 !important;
  z-index: 12;
  background-color: $light-gray;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1)
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 12px;

}

.btn-filter-selection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: lighter;
  font-size: 24px;
  height: 35px;
  border: 1px solid rgba(30,30,30,0.3);
  border-radius: 10px;
  color: rgba(66, 66, 66, 0.6);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 18px;
  p {
    margin: 0;
  }

  &:hover {
    color: rgba(66, 66, 66, 0.8);
    cursor: pointer;
  }
}

.active-filter-selection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: lighter;
  font-size: 24px;
  height: 35px;

  border-radius: 10px;

  padding-left: 20px;
  padding-right: 20px;


  color: white !important;
  background-color: $orange !important;
  border: 0px solid rgba(30,30,30,0.3) !important;
  box-shadow: 1px 1px 3px rgba(30,30,30,0.7) !important;
  }


.hide-filter {
  display: none;
  transition: all ease 5s;
}



// CARDS COMPARED ---------------------------------------------------
.card-school-main {
  width: 450px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  // margin-bottom: 30px;
  margin-right:15px;
  margin-left:15px;
  margin-top: 30px;
  border: 1px solid #ddd;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.card-school-main:hover {
  cursor: grab;
}

.title-etablissement {
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(90,90,90,.1);
  position: sticky !important;
  top: 148px !important;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  z-index: 40;
  p {
    font-size: 28px;
    margin: 0;
    color: #404040 !important;
    opacity: 1;
  }
}

.card-school-category{
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-top: 25px;
  h2 {
    font-size: 24px;
    margin: 0;
  }
  p {
    margin: 0;
  }
}




// PASTILLE QUI DEFILE -------------------
.hat-notifs2 {
  margin-top: 5px;
  width: 110px;
  height: 110px;
  position: fixed;
  top: 20px;
  right: 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
  z-index: 20;
  background: rgba(244,244,244,1);
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);

  p {
    position: absolute;
    bottom: 9px;
    left: 14px;
    font-size: 16px;
  }
}

.hat-notifs2:hover {
  background: $orange;
  color: white;
  cursor: pointer;
  p {
    color: white;
  }
}

.selection-link2 {
 p {
  color: #757575;
 }
 p:hover {
  color: white;
 }
}

.orange-counter2 {
  position: absolute !important;
  margin: 0 !important;
  top: 13px !important;
  left: 39px !important;
  font-family: "Alfa Slab One", cursive !important;
  color: $orange !important;
  font-size: 48px !important;
}





.go-to-website-1 {
  z-index: 1000;

}


.link-selection {
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  padding: 10px;
  background-color: $light-gray;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-top: 25px;
  opacity: .8;
  h2 {
    font-size: 24px;
    margin: 0;
  }
  p {
    margin: 0;
  }
  a {
    color: #404040;
  }
  a:hover {
    text-decoration: none;

  }
}

.link-selection:hover {

  opacity: 1;
}



.compare-card-image {
  height: 200px;
  background-size: cover;
  margin-top: 10px;
}















