.selection-filter-container{
  display: flex;
  padding: 10px;
  align-items: center;
  margin-top:30px;
  min-height: 150px;
  border-radius: 5px;
  background: #424242;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.selection-filter-item {
  padding: 10px 15px;
  min-height: 50px;
  margin: 3px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
}
.selection-filter-button input:checked + label {

}
.selection-card-school-main {
 border-radius: 5px;
 box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
 padding-bottom: 15px;
 margin-bottom: 30px;
 margin-top: 30px;
 border: 1px solid #ddd;
}

.selection-card-image {
  background-image: asset-url('university.jpg');
  background-size: cover;
  height: 200px;
  position: relative;
  border-radius: 5px 5px 0 0;
  .selection-card-image-button {
    position: absolute;
    text-align: center;
    a {
      color: #F4F4F4;
    }

    bottom: -24px;
    right: 19px;
    font-size: 20px;
    background: #424242;
    padding: 10px;
    border-radius: 300px;
    width:49px;
    opacity: 0.75;
  }
}
.selection-card-school-category{
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}
