<div class="navbar-topecole">
  <div class="navbarTE-left">
    <%= link_to 'Home', root_path %>
  </div>
  <div class="navbarTE-right">
    <%= image_tag "Icons/graduation-hat.svg", width: 70%>
  </div>
</div>

