

<% if current_page?(selection_schools_path)%>
  <div class="navbar-topecole navbar-selection">
<% else %>
  <div class="navbar-topecole">
<% end %>


  <div class="navbarTE-left text-center">
    <%= link_to root_path do %>
      <h1> Topecoles </h1>
    <% end %>
  </div>
  <div class="filarianne">
    <p>Recherchez</p>
    <p>></p>
    <% if current_page?(selection_schools_path) %>
      <p>Filtrez</p>
    <% else %>
      <p id="orangefil">Filtrez</p>
    <% end %>
    <p>></p>
    <% if current_page?(selection_schools_path) %>
      <p id="orangefil">Comparez</p>
    <% else %>
      <p>Comparez</p>
    <% end %>
  </div>
</div>

