<div class="navbar-topecole">
  <div class="navbarTE-left">
    <%= link_to root_path do %>
      <h1> Topécoles </h1>
    <% end %>
  </div>
  <div class="navbarTE-right">
    <div class="hat-notifs">
      <h1 id="mon_comparateur_count">0</h1>

      <p>Ma sélection</p>
      <%= image_tag "Icons/graduation-hat.svg", width: 70%>
    </div>
  </div>
</div>

