

<% if current_page?(selection_schools_path)%>
  <div class="navbar-topecole navbar-selection">
<% else %>
  <div class="navbar-topecole">
<% end %>


  <div class="navbarTE-left text-center">
    <%= link_to root_path do %>
      <h1> Topecoles </h1>
    <% end %>
  </div>
  <div class="filarianne">
    <%= link_to root_path do %>
      <p style="color: #757575">Rechercher</p>
    <% end %>
    <p>></p>
    <% if current_page?(selection_schools_path) %>
      <%= link_to :back do %>
        <p>Filtrer</p>
      <% end %>
    <% else %>
      <p id="orangefil">Filtrer</p>
    <% end %>
    <p>></p>
    <% if current_page?(selection_schools_path) %>
      <p id="orangefil">Comparer</p>
    <% else %>
      <% if session[:selection].size < 1 %>
        <p>Comparer</p>
      <% else %>
        <%= link_to 'Comparer', selection_schools_path  %>
      <% end %>


    <% end %>
  </div>
</div>

