
<div class="home-wrapper">
  <div class="image">
  </div>
  <div class="container text-center" id="logo">
    <h1 style="font-weight: bolder; font-size: 100px; position: relative; top: 200px">TopEcoles</h1>
  </div>
  <div class="container">
    <div class="row w-margin">
      <div class="tabs col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="tabs-item">
          <h3>
            Primaire
          </h3>
          <p>10384</p>
        </div>
        <div class="tabs-item active">
          <h3>
            Collége
          </h3>
          <p>2072</p>
        </div>
        <div class="tabs-item">
          <h3>
            Lycée
          </h3>
          <p>1094</p>
        </div>
        <div class="tabs-item">
          <h3>
            Prépa
          </h3>
          <p>203</p>
        </div>
        <div class="tabs-item">
          <h3>
            BTS
          </h3>
          <p>234</p>
        </div>
        <div class="tabs-item">
          <h3>
            Fac
          </h3>
          <p>874</p>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="form-inline col-xs-12 col-sm-8 col-sm-offset-2 login-form">
        <div class="input-group search-container">
          <input type="text" class="form-control search-bar" placeholder="Rechercher par nom du lycée, du collége, de l'école">
        </div>
      </form>
    </div>
  </div>
</div>

