<h1>Voici les écoles comparées</h1>

<div class="search-results-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="main-card-compare">
        <div class="card-image-compare">
          <div class="card-image-button-compare">
            <i class="fas fa-heart"></i>
          </div>
        </div>
        <div class="card-school-compare" id="school-name-compare">
          <h1>School name</h1>
        </div>
        <div class="card-school-compare" id="rating">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
        </div>
        <!-- address -->
        <div class="card-school-compare">
          <p>address</p>
        </div>
        <!-- status -->
        <div class="card-school-compare">
          <h5>établissement privé</h5>
        </div>
        <!-- type -->
        <div class="card-school-compare">
          <h2>privé</h2>
        </div>
        <!-- filières -->
        <div class="card-school-compare">
          <h2>put numbers</h2>
        </div>
        <!-- date d'inscription -->
        <div class="card-school-compare">

        </div>
        <!-- frais de scolarité -->
        <div class="card-school-compare">

        </div>
        <!-- Nb d'élèves -->
        <div class="card-school-compare">

        </div>
        <!-- Pensionnat -->
        <div class="card-school-compare">

        </div>
        <!-- Cantine -->
        <div class="card-school-compare">

        </div>
        <!-- Sect int'l -->
        <div class="card-school-compare">

        </div>
        <!-- Options -->
         <div class="card-school-compare">

        </div>
        <!-- résultat bac -->
        <div class="card-school-compare">

        </div>
        <!-- résultat brevet -->
        <div class="card-school-compare">

        </div>
        <!-- classement -->
        <div class="card-school-compare">

        </div>
        <!-- rapport qualité prix -->
        <div class="card-school-compare">

        </div>
        <!-- Autres -->
        <div class="card-school-compare">

        </div>
        <!-- //////end of card elements//////// -->
      </div>
    </div>
  </div>






<% @schools.each do |school| %>
  <p><%= school.name %></p>
<% end %>

