
<div class="search-results-container">
  <div class="filterz">
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
    <div class="tag"><p>Bougna</p></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-school-main">
        <!-- image -->
        <div class="card-image">
        </div>
        <div class="card-image-button"></div>
        <!-- address -->
        <div class="card-school-category">
          <h2>Adresse</h2>
          <p>Adresse</p>
        </div>
        <!-- status -->
        <div class="card-school-category">
          <h2>Adresse</h2>
          <p>Etablissement privé</p>
        </div>
        <!-- type -->
        <div class="card-school-category">
          <h2>Type</h2>
          <p>Privé</p>
        </div>
        <!-- filières -->
        <div class="card-school-category">
          <h2>Filières</h2>
          <p>S, ES et L</p>
        </div>
        <!-- date d'inscription -->
        <div class="card-school-category">
          <h2>Date limite d'inscription</h2>
          <p>Le 12/04/2019</p>
        </div>
        <!-- frais de scolarité -->
        <div class="card-school-category">
          <h2>Frais de scolarité</h2>
          <p>32 000€</p>
        </div>
        <!-- Nb d'élèves -->
        <div class="card-school-category">
          <h2>Nombre d'élèves</h2>
          <p>293</p>
        </div>
        <!-- Pensionnat -->
        <div class="card-school-category">
          <h2>Pensionnat</h2>
          <p>Oui</p>
        </div>
        <!-- Cantine -->
        <div class="card-school-category">
          <h2>Cantine</h2>
          <p>Oui</p>
        </div>
        <!-- Sect int'l -->
        <div class="card-school-category">
          <h2>Section internationale</h2>
          <p>Polonais et slovaque</p>
        </div>
        <!-- Options -->
        <div class="card-school-category">
          <h2>Options</h2>
          <p>Différentielle et fun</p>
        </div>
        <!-- résultat bac -->
        <div class="card-school-category">
          <h2>Taux de réussite au bac</h2>
          <p>91%</p>
        </div>
        <!-- résultat brevet -->
        <div class="card-school-category">
          <h2>Taux de réussite au brevet</h2>
          <p>100%</p>
        </div>
        <!-- classement -->
        <div class="card-school-category">
          <h2>Classement excellence</h2>
          <p>1ere école sur 3000</p>
        </div>
        <!-- rapport qualité prix -->
        <div class="card-school-category">
          <h2>Classement qualité/prix</h2>
          <p>139e école sur 3000</p>
        </div>
        <!-- Autres -->
        <div class="card-school-category">
          <h2>Le petit plus</h2>
          <p>C'est une école excellente</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-school-main">
        <!-- image -->
        <div class="card-image">
        </div>
        <div class="card-image-button"></div>
        <!-- address -->
        <div class="card-school-category">
          <h2>Adresse</h2>
          <p>Adresse</p>
        </div>
        <!-- status -->
        <div class="card-school-category">
          <h2>Adresse</h2>
          <p>Etablissement privé</p>
        </div>
        <!-- type -->
        <div class="card-school-category">
          <h2>Type</h2>
          <p>Privé</p>
        </div>
        <!-- filières -->
        <div class="card-school-category">
          <h2>Filières</h2>
          <p>S, ES et L</p>
        </div>
        <!-- date d'inscription -->
        <div class="card-school-category">
          <h2>Date limite d'inscription</h2>
          <p>Le 12/04/2019</p>
        </div>
        <!-- frais de scolarité -->
        <div class="card-school-category">
          <h2>Frais de scolarité</h2>
          <p>32 000€</p>
        </div>
        <!-- Nb d'élèves -->
        <div class="card-school-category">
          <h2>Nombre d'élèves</h2>
          <p>293</p>
        </div>
        <!-- Pensionnat -->
        <div class="card-school-category">
          <h2>Pensionnat</h2>
          <p>Oui</p>
        </div>
        <!-- Cantine -->
        <div class="card-school-category">
          <h2>Cantine</h2>
          <p>Oui</p>
        </div>
        <!-- Sect int'l -->
        <div class="card-school-category">
          <h2>Section internationale</h2>
          <p>Polonais et slovaque</p>
        </div>
        <!-- Options -->
        <div class="card-school-category">
          <h2>Options</h2>
          <p>Différentielle et fun</p>
        </div>
        <!-- résultat bac -->
        <div class="card-school-category">
          <h2>Taux de réussite au bac</h2>
          <p>91%</p>
        </div>
        <!-- résultat brevet -->
        <div class="card-school-category">
          <h2>Taux de réussite au brevet</h2>
          <p>100%</p>
        </div>
        <!-- classement -->
        <div class="card-school-category">
          <h2>Classement excellence</h2>
          <p>1ere école sur 3000</p>
        </div>
        <!-- rapport qualité prix -->
        <div class="card-school-category">
          <h2>Classement qualité/prix</h2>
          <p>139e école sur 3000</p>
        </div>
        <!-- Autres -->
        <div class="card-school-category">
          <h2>Le petit plus</h2>
          <p>C'est une école excellente</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-school-main">
        <!-- image -->
        <div class="card-image">
        </div>
        <div class="card-image-button"></div>
        <!-- address -->
        <div class="card-school-category">
          <h2>Adresse</h2>
          <p>Adresse</p>
        </div>
        <!-- status -->
        <div class="card-school-category">
          <h2>Adresse</h2>
          <p>Etablissement privé</p>
        </div>
        <!-- type -->
        <div class="card-school-category">
          <h2>Type</h2>
          <p>Privé</p>
        </div>
        <!-- filières -->
        <div class="card-school-category">
          <h2>Filières</h2>
          <p>S, ES et L</p>
        </div>
        <!-- date d'inscription -->
        <div class="card-school-category">
          <h2>Date limite d'inscription</h2>
          <p>Le 12/04/2019</p>
        </div>
        <!-- frais de scolarité -->
        <div class="card-school-category">
          <h2>Frais de scolarité</h2>
          <p>32 000€</p>
        </div>
        <!-- Nb d'élèves -->
        <div class="card-school-category">
          <h2>Nombre d'élèves</h2>
          <p>293</p>
        </div>
        <!-- Pensionnat -->
        <div class="card-school-category">
          <h2>Pensionnat</h2>
          <p>Oui</p>
        </div>
        <!-- Cantine -->
        <div class="card-school-category">
          <h2>Cantine</h2>
          <p>Oui</p>
        </div>
        <!-- Sect int'l -->
        <div class="card-school-category">
          <h2>Section internationale</h2>
          <p>Polonais et slovaque</p>
        </div>
        <!-- Options -->
        <div class="card-school-category">
          <h2>Options</h2>
          <p>Différentielle et fun</p>
        </div>
        <!-- résultat bac -->
        <div class="card-school-category">
          <h2>Taux de réussite au bac</h2>
          <p>91%</p>
        </div>
        <!-- résultat brevet -->
        <div class="card-school-category">
          <h2>Taux de réussite au brevet</h2>
          <p>100%</p>
        </div>
        <!-- classement -->
        <div class="card-school-category">
          <h2>Classement excellence</h2>
          <p>1ere école sur 3000</p>
        </div>
        <!-- rapport qualité prix -->
        <div class="card-school-category">
          <h2>Classement qualité/prix</h2>
          <p>139e école sur 3000</p>
        </div>
        <!-- Autres -->
        <div class="card-school-category">
          <h2>Le petit plus</h2>
          <p>C'est une école excellente</p>
        </div>
      </div>
    </div>
  </div>
</div>



