<h1>Voici les écoles comparées</h1>
<div class="search-results-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="main-card-compare">
        <div class="card-image-compare">
          <div class="card-image-button-compare">

          </div>
        </div>
        <div class="card-school-compare" id="name">
          <h1>Motherfucker school</h1>
        </div>
        <div class="card-school-compare" id="rating">

        </div>
        <!-- address -->
        <div class="card-school-compare">

        </div>
        <!-- status -->
        <div class="card-school-compare">

        </div>
        <!-- type -->
        <div class="card-school-compare">

        </div>
        <!-- filières -->
        <div class="card-school-compare">

        </div>
        <!-- date d'inscription -->
        <div class="card-school-compare">

        </div>
        <!-- frais de scolarité -->
        <div class="card-school-compare">

        </div>
        <!-- Nb d'élèves -->
        <div class="card-school-compare">

        </div>
        <!-- Pensionnat -->
        <div class="card-school-compare">

        </div>
        <!-- Cantine -->
        <div class="card-school-compare">

        </div>
        <!-- Sect int'l -->
        <div class="card-school-compare">

        </div>
        <!-- Options -->
         <div class="card-school-compare">

        </div>
        <!-- résultat bac -->
        <div class="card-school-compare">

        </div>
        <!-- résultat brevet -->
        <div class="card-school-compare">

        </div>
        <!-- classement -->
        <div class="card-school-compare">

        </div>
        <!-- rapport qualité prix -->
        <div class="card-school-compare">

        </div>
        <!-- Autres -->
        <div class="card-school-compare">

        </div>
        <!-- //////end of card elements//////// -->
      </div>
    </div>
  </div>






