
.main-card {
 border: 0.2px black;
 border-radius: 5px;
 box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
 padding-bottom: 15px;
 margin-bottom: 30px;
 margin-top: 30px;
}
.card-image {
  background-image: asset-url('university.jpg');
  background-size: cover;
  height: 200px;
  position: relative;
  border-radius: 5px 5px 0 0;
  .card-image-button {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin: 0px;
    bottom: -24px;
    right: 19px;
    background: #424242;
    border-radius: 50%;
    width: 42px;
    /* height: 50px; */
    opacity: 0.75;
  }
}
.card-school-name {
  height: 81px;
  h2 {
    font-size: 28px;
    color: #404040;
    margin: 0;
  }
  padding: 20px 30px 0px 30px;
}

.card-description {
  padding:  11px 30px 19px 30px;
  h5 {
    opacity: 0.7;
  }
}

.card-description ul {
  li {
    opacity: 0.3;
  }
  .li-active {
  opacity: 1;
}
}

.card-image-button:hover {
  background-color: #F09000;
  opacity: 1;
}

.card-image-button-active {
  background-color: #F09000 !important;
  opacity: 1 !important;
}




.card-rating {
  text-align: center;

  a {
    color: #F09000;
    height: 10px;
  }
}


.give-card-space {
  margin: 20px 0px;
}
