
.main-card {
 border: 0.2px black;
 border-radius: 5px;
 box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
 margin-bottom: 30px;
 margin-top: 30px;
 position: relative;
 background-color: white;
 .hover-card {
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 3000000;
  transition: all ease 0.3s;
  overflow: hidden;
  &.open {
    height: 100%;
  }
 }
}
.card-image2 {
  background-image: asset-url('university.jpg');
  background-size: cover;
  height: 200px;
  position: relative;
  border-radius: 5px 5px 0 0;
  .card-image-button {
    position: absolute;
    text-align: center;
    color: $light-blue;
    font-size: 30px;
    font-weight: bolder;
    margin: 0px;
    bottom: 151px;
    right: 7px;
    background: rgba(46, 117, 182, 0.7);
    border-radius: 50%;
    width: 42px;
    /* height: 50px; */

  }
}
.card-school-name {
  height: 81px;
  h2 {
    font-size: 28px;
    color: #404040;
    margin-top: -19px;
  }
  padding: 20px 30px 0px 30px;
}

.card-description {
  padding:  11px 30px 19px 30px;
  h5 {
    opacity: 0.7;
    margin-top: -16px;
  }
}

.card-description ul {
  li {
    opacity: 0.3;
  }
  .li-active {
  opacity: 1;
}
}

.card-image-button:hover {
  background-color: #F09000;
  opacity: 1;
  color: white;
}

.card-image-button-active {
  background-color: #F09000 !important;
  opacity: 1 !important;
  color: white !important;
}




.card-rating {
  text-align: center;

  a {
    color: #F09000;
    height: 10px;
  }
}


.give-card-space {
  margin: 20px 0px;
}


.links-bottom-card {
  display: flex;
  margin-top: 30px;
  .link-bottom-card {
    border-top: 1px solid rgba(40,40,40,.1);
    padding-top: 10px;
    width: 50%;
  }
  .left-link {
    border-right: 1px solid rgba(40,40,40,.1);
  }
}

.link-bottom-card:hover {
  background: rgba(40,40,40,.4);
  color: white;
}

.right-link:hover {
  cursor: pointer;
  background: rgba(40,40,40,.4);
  color: white;
  border-radius: 0 0 5px 0;
}

.left-link:hover {
  cursor: pointer;
  background: rgba(40,40,40,.4);
  p {
    color: white;
  }
  a {
    text-decoration: none;
  }
  border-radius: 0 0 0 5px;
}

.right-link2:hover {
  cursor: pointer;
  background: rgba(40,40,40,.4);
  color: white;
  border-radius: 0 0 5px 0;
}


.left-link2:hover {
  cursor: pointer;
  background: rgba(40,40,40,.4);
  color: white;
  border-radius: 0 0 5px 0;
}






// HOVER CARDS ------------------------------------------------------

.hover-card {
  border-radius: 5px;
}

.back-card-school-name-and-address {
  padding-top: 20px;
  padding-left: 20px;
  h4 {
    color: #404040;
    margin: 0;
  }
}

// ICONS---------------

.back-card-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(40,40,40,.1);
}

.back-geoloc {
  display: block;
  align-items: center;
  width: 32%;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  p {
    margin: 0;
    font-size: 16px;
  }
}
.back-cantine {
  display: block;
  align-items: center;
  width: 32%;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  p {
    margin: 0;
    font-size: 16px;
  }
}
.back-pensionnat {
  display: block;
  align-items: center;
  width: 32%;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  p {
    margin: 0;
    font-size: 16px;
  }
}

// STATS -----------------

.back-card-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(40,40,40,.1);
}

.back-card-stats-blocks {
  width: 33%;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  p {
    margin: 0;
    font-size: 16px;
  }
  h3 {
    margin: 0;
    font-family: $counters;
    font-size: 32px;
    color: $light-blue;
  }

}

.small-gray-data {
  h3 {
    color: rgba(40,40,40,.3) !important;
    font-size: 28px !important;
  }
}

.orange-data {
  h3 {
    color: rgba(255, 192, 0, 1);
  }
}


// LINKS BUTTON HOVER CARD  -----------------

.links-bottom-card2 {
  display: flex;
  margin-top: 6px;
  width: 361px;
  .link-bottom-card2 {
    border-top: 1px solid rgba(40,40,40,.1);
    width: 50%;
    padding-top: 10px;
    height: 54px;
  }
  .left-link2 {
    border-right: 1px solid rgba(40,40,40,.1);
    height: 54px;
    p{
      margin: 0;
    }
  }

  .left-link2:hover {
    cursor: pointer;
    background: rgba(40,40,40,.4);
    p {
      color: white;
    }
    a {
      text-decoration: none;
    }
    border-radius: 0 0 0 5px;
  }


  .right-link2 {
    cursor: pointer;
    background: rgba(40,40,40,.4);
    color: white;
    border-radius: 0 0 5px 0;
    p{
      margin: 0;
    }
  }
}

.links-bottom-card2 a {
  p {
    color: #757575;
    text-decoration: none;
  }
  p:hover {
    color: white;
    text-decoration: none;
  }
}

.links-bottom-card a {
  p {
    color: #757575;
    text-decoration: none;
  }
  p:hover {
    color: white;
    text-decoration: none;
  }
}















