.tag {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: lighter;
  font-size: 18px;
  height: 35px;
  border: 1px solid rgba(30,30,30,0.3);
  border-radius: 56px;
  color: rgba(66, 66, 66, 0.6);
  p {
    margin: 0;
  }
}

.tag:hover {
    color: rgba(66, 66, 66, 0.8);
    border: 1px solid rgba(30,30,30,0.6);
  }



.count_and_tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  z-index: 10;
  background-color: $light-gray;
}


.schools-count {
  margin-top: -10px;
  display: flex;
  align-items: center;
  p {
  // padding-top: 6px;
  margin: -4px 14px 0 0;
  height: 50px;
  font-size: 37px;
  }
}

.link-sup-tag {
  margin-left: 8px;
  a {
    color: rgba(66, 66, 66, 0.6);
    font-weight: lighter;
  }
}
