.navbar-topecole {
  display: flex;
  justify-content: space-between;
  height: 120px;
}


.navbarTE-left {
  min-width: 300px;
  background-color: $blue;
  padding-top: 10px;
  // padding-left: 20px;
  a {
    // color: $light-blue;
    color: white;
  }
  h1 {
    font-family: $logo-font;
  }
}


// .navbarTE-right {
//   padding-top: 10px;
//   padding-right: 30px;

// }

.display_none {
  display: none;
}


.orange-counter {
  color: $orange;
}

.hat-notifs {
  margin-top: 5px;
  width: 110px;
  height: 110px;
  position: fixed;
  top: 20px;
  right: 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
  z-index: 12;
  background: rgba(244,244,244,.95);
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  h1 {
    position: absolute;
    margin: 0;
    top: 13px;
    left: 39px;
    font-size: 50px;
    font-family: "Alfa Slab One", cursive;
  }
  p {
    position: absolute;
    bottom: 9px;
    left: 21px;
    font-size: 16px;
  }
}

.hat-notifs:hover {
  background: $orange;
  color: white;
  cursor: pointer;
  h1 {
    color: white;
  }
}
